* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(70, 70, 70);
}

.logo-sec {
  width: 180px;
  padding: 0px 10px;
}

.logo-sec > img {
  width: 100%;
  cursor: pointer;
}

.option-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-sec > div {
  padding: 0px 10px;
  cursor: pointer;
  font-weight: bold;
}

.login-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  cursor: pointer;
  padding: 0px 10px;
}

.signup {
  cursor: pointer;
  background-color: rgb(255, 196, 0);
  padding: 10px;
}

.bg-code{
  background-color: rgb(40, 42, 54);
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.text-white {
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
}

.title-para {
  text-align: center;
  font-weight: bold;
  color: rgb(117, 117, 117);
  margin: 20px 0px;
}

.title-button {
  text-align: center;
}

.title-button > button {
  padding: 15px 40px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 187, 78);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}